In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy.orm import session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
alcohol_csv = "Data/HappinessAlcoholConsumption.csv"
alcohol_df = pd.read_csv(alcohol_csv)
alcohol_df.head()
suicide_csv = "Data/data.csv"
suicide_df = pd.read_csv(suicide_csv)

In [3]:
alcohol_sort = alcohol_df.sort_values("Country", ascending=True)
alcohol_sort.head()
alcohol_sort = alcohol_sort.set_index("Country")
alcohol_sort.head()

,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
Country,,,,,,,,
Albania,Central and Eastern Europe,north,4.655,782,4.132,89,132,54
Angola,Sub-Saharan Africa,south,3.866,577,3.309,217,57,45
Argentina,Latin America and Caribbean,south,6.650,822,12.654,193,25,221
Armenia,Central and Eastern Europe,north,4.360,749,3.606,21,179,11
Australia,Australia and New Zealand,south,7.313,938,49.897,261,72,212

In [4]:
suicide_csv = "Data/data.csv"
suicide_df = pd.read_csv(suicide_csv)
suicide_df.head()

,Unnamed: 0,Unnamed: 1,Age-standardized suicide rates (per 100 000 population)
0,Country,Sex,2016.0
1,Afghanistan,Both sexes,6.4
2,Afghanistan,Male,10.6
3,Afghanistan,Female,2.1
4,Albania,Both sexes,5.6

In [5]:
suicide_rn = suicide_df.rename(columns={"Unnamed: 0":"Country","Unnamed: 1":"Sex","Age-standardized suicide rates (per 100 000 population)":"Suicide Rates"})
suicide_rn.head()

       Country         Sex  Suicide Rates
0      Country         Sex         2016.0
1  Afghanistan  Both sexes            6.4
2  Afghanistan        Male           10.6
3  Afghanistan      Female            2.1
4      Albania  Both sexes            5.6

In [6]:
suicide_final = suicide_rn.drop(suicide_rn.index[[0]])
suicide_final.head()

       Country         Sex  Suicide Rates
1  Afghanistan  Both sexes            6.4
2  Afghanistan        Male           10.6
3  Afghanistan      Female            2.1
4      Albania  Both sexes            5.6
5      Albania        Male            7.0

In [7]:
suicide_piv = suicide_final.pivot(index = "Country", columns="Sex", values="Suicide Rates")
suicide_piv = suicide_piv.rename(columns={"Both sexes": "Average"})
suicide_piv.head()

Sex                  Average  Female  Male
Country
Afghanistan              6.4     2.1  10.6
Albania                  5.6     4.3   7.0
Algeria                  3.3     1.8   4.9
Angola                   8.9     4.6  14.0
Antigua and Barbuda      0.5     0.9   0.0

In [8]:
# combined_data = pd.index.join(how = "outer")
# combined_data
combined = suicide_piv.join(alcohol_sort)
combined.dropna(inplace = True)
combined
only_alc = combined
only_alc

no_alc = suicide_piv.join(alcohol_sort)
no_alc.head()

,Average,Female,Male,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
Country,,,,,,,,,,,
Afghanistan,6.4,2.1,10.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,5.6,4.3,7.0,Central and Eastern Europe,north,4.655,782.0,4.132,89.0,132.0,54.0
Algeria,3.3,1.8,4.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,8.9,4.6,14.0,Sub-Saharan Africa,south,3.866,577.0,3.309,217.0,57.0,45.0
Antigua and Barbuda,0.5,0.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# no_alc.to_csv("Data/no_alc.csv", index=True, header=True)

In [10]:
# only_alc.to_csv("Data/only_alc.csv", index=True, header = True)

In [11]:
highest = no_alc.groupby("Country")["Average"].max()
highest.max()

30.2

In [12]:
password = 'postgres'
DATABASE_URI = 'postgres+psycopg2://postgres:password@localhost:49902/ETL Project'

In [13]:
engine = create_engine(DATABASE_URI)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
session = Session(engine)
get_info =Session(bind=engine)

In [ ]:
hist_suic_av = engine.execute("SELECT country, average, happiness, beer_percapita, spirit_percapita, wine_percapita FROM suicide_alcohol_reduced WHERE average >10 ORDER BY average DESC;").fetchall()
hist_suic_av = pd.DataFrame(hist_suic_av)